# Python
**/__pycache__/
*.pyc
.pytest_cache/
.coverage
coverage/
coverage.xml
htmlcov/

# venv
.venv/

# Terraform
.terraform/
**/.terraform/
**/.terraform.lock.hcl.bak
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
