name: Build & Deploy to Cloud Run

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  REGION: ${{ secrets.GCP_REGION }}
  GAR_REPO: ${{ secrets.GAR_REPO }}
  SERVICE_NAME: ${{ secrets.CLOUD_RUN_SERVICE }}
  RUNTIME_SA: ${{ secrets.CLOUD_RUN_RUNTIME_SA }}
  IMAGE_NAME: demo-devops-api

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Auth to Google Cloud (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.WIF_PROVIDER }}
          service_account: ${{ secrets.WIF_SERVICE_ACCOUNT }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.PROJECT_ID }}

      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker "${REGION}-docker.pkg.dev" --quiet

      - name: Build & Push image
        run: |
          IMAGE="${REGION}-docker.pkg.dev/${PROJECT_ID}/${GAR_REPO}/${IMAGE_NAME}:${GITHUB_SHA}"
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV
          docker build -t "$IMAGE" .
          docker push "$IMAGE"

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy "${SERVICE_NAME}" \
            --image "${IMAGE}" \
            --region "${REGION}" \
            --platform managed \
            --service-account "${RUNTIME_SA}" \
            --allow-unauthenticated \
            --port 8080 \
            --min-instances 0 \
            --max-instances 1 \
            --cpu 1 \
            --memory 256Mi

      - name: Show Service URL
        run: |
          gcloud run services describe "${SERVICE_NAME}" \
            --region "${REGION}" \
            --format='value(status.url)'